body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #c468e8;
  -webkit-text-stroke-color: #8e42ac;
  -webkit-text-stroke-width: 0.2px;
}

.submit-button {
  background-color: #c468e8;
  border-color: #8e42ac;
  border-radius: 5px;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s;
  padding: 4px 20px;
}

.submit-button:hover {
  background-color: #8e42ac;
}

.block {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
}

.center {
  text-align: center;
  list-style-position: inside;
  padding-left: 5%;
  padding-right: 5%;
}

.l-button {
  background-color: #c468e8;
  border-color: #8e42ac;
  border-radius: 5px;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  padding: 2px 20px;
  text-decoration: none;
  transition: 0.2s;
}

.l-button:hover {
  background-color: #8e42ac;
}

ol {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 10px;
}

.todo {
  width: fit-content;
  white-space: nowrap;
  display: inline-block;
}

.form-todo {
  width: fit-content;
  align-items: center;
  white-space: nowrap;
  display: flex;
}

.button-container {
  display: flex;
}

.button-container form {
  flex: 1;
  margin-right: 10px;
}

.button-container form:last-child {
  margin-right: 0;
}
