<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Todo APP</title>
</head>

<body>
  <header>
    <h1 class="todo-title">Todo APP</h1>
  </header>
  <main>
    <div class="block">
      <form action="add" method="post">
        {{ form.title.label }}
        {{ form.title(size=20) }}
        {{ form.submit(class="submit-button") }}
      </form>
      <ol class="center">
        {% for todo in todos %}
        <li>
          {% if todo.complete %}
          <s>{{ todo.title }}</s>
          {% else %}
          {{ todo.title }}
          {% endif %}
          <a class="l-button" href="/delete/{{ todo.id }}">Delete</a>
          <a class="l-button" href="/update/{{ todo.id }}">Update</a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </main>
</body>

</html>