<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Todo APP</title>
</head>

<body>
  <header>
    <h1 class="todo-title">Todo APP</h1>
  </header>
  <main>
    <div class="block">
      <form action="add" method="post">
        {{ form.title.label }}
        {{ form.title(size=20, maxlength=50) }}
        {{ form.submit(class="submit-button") }}
      </form>

      <ol class="center">
        {% for todo in todos %}
        <li>
          {% if todo.complete %}
          <p class="todo">
            <s>{{ todo.title }}</s>
          </p>
          {% else %}
          <p class="todo">{{ todo.title }}</p>
          {% endif %}
          <div class="button-container">
            <form class="form-todo" action="update/{{ todo.id }}" method="post">
              <button class="l-button" type="submit">Update</button>
            </form>
            <form class="form-todo" action="delete/{{ todo.id }}" method="post">
              <button class="l-button" type="submit">Delete</button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </main>
</body>

</html>